<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Повторное подключение к серверу...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Подключение не удалось... повтор через <span id="components-seconds-to-next-attempt"></span> сек.
        </p>
        <p class="components-reconnect-failed-visible">
            Не удалось переподключиться.<br/>Повторите попытку или перезагрузите страницу.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Повторить
        </button>
        <p class="components-pause-visible">
            Сессия была приостановлена сервером.
        </p>
        <p class="components-resume-failed-visible">
            Не удалось возобновить сессию.<br/>Повторите попытку или перезагрузите страницу.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Возобновить
        </button>
    </div>
</dialog>
